.protection {
  width: 100%;
}
.protection__container {
  margin-top: 1rem;
  display: flex;
  background-color: white;
  border-radius: 6px;
  height: 60px;
}
.protection__title > h1 {
  font-size: 21px;
  font-weight: bold;
}
.protection__container__title {
  font-size: 17px;
}
.protection__container__content {
  padding: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
